* {
    --txc: #393838;
    /* --txc2: #1183b9; */
    --txc2: #393838;
    --header-text-color: #fffefe;
    --bgc: #fff;
    --bgc2: #f1f1f1;
    --bgc-header: #212121;
    --hlc: #70b4d5;
}

@font-face {
  font-family: "OpenSans";
  src: url("../static/OpenSans-ExtraBold.ttf");
}

@font-face {
  font-family: "SourceSans3";
  src: url("../static/SourceSans3-Regular.ttf");
}

body {
    background: var(--bgc);
    font-family: "SourceSans3", "Arial", sans-serif;
    /* font-size: 0.90em; */
    /* line-height: 1.6; */
    padding: 0;
    margin: 0;
}

article {
    color: var(--txc);
    max-width: 95em;
    margin: 2.2em auto 0.3em auto;
    padding-left: 8em;
    padding-right: 8em;
}

header {
    padding-bottom: 16em;
    background: var(--bgc-header);
}

#headerlogo {
    width: 7em;
    margin: 0;
    padding: 2.2em 1em 1em 8em;
    float: left;
    -webkit-filter: invert(1);
    filter: invert(1);
}

footer{
    margin-top: 2em;
    text-align: center;
    font-size: 80%;
    padding: 0.5rem;
} 

/*Links{{{*/
a:link, a:visited {
  color:  var(--txc2);
}

header a:link, header a:visited {
  color: var(--header-text-color);
}

a:hover {
  color: var(--hlc);
}

a.ghost:link, a.ghost:visited, a.ghost:hover {
  /* color: var(--txc); */
  text-decoration: none;
}
/*}}}*/

nav.header-nav{
    float: right;
    padding-top: 2em;
    padding-right: 8em;
}


nav a {
    padding: 0 0.6em 0.0em 0.3em;
    font-weight: 600;
    color: red;
}

header h1 {
    font-family: "OpenSans";
    /* padding-left: 2em; */
    text-align: center;
    display: none;
}

img {
    width: 100%;
    padding-bottom: 0.2em;
}

ul {
    padding-left: 0;
}

li {
    padding: 0.1em;
    list-style-type: none;
}

.date {
    padding: 0em 0.5em;
    width: 100%;
}

.sourceCode {
    background: var(--bgc2);
}

figcaption {
    margin-bottom: 2em;
}

video {
    width: 100%;
}

/* Tablets and mobile devices{{{ */
@media screen and (max-width: 900px) {
    body {
    /* padding-left: 2em; */
    /* padding-right: 2em; */
    }
    header {
        padding-bottom: 3em;
        text-align: center;
    }
    #headerlogo {
        float: none;
        padding-left: 0;
        padding-right: 0;
    }
    article {
      max-width: none;
      padding: 1.2em 1.2em 0.3em 1.2em;
    }
    nav a {
        display: block;
    }
    header h1 {
        float: none;
    }
    nav.header-nav {
        float: none;
        padding-left: 1em;
        text-align: left;
    }
}


table {
    border: 1px solid #ccc;
    width: 100%;
    margin:0;
    padding:0;
    border-collapse: collapse;
    border-spacing: 0;
  }

  table tr {
    border: 1px solid #ddd;
    padding: 5px;
		/* background: #fff; */

  }

  table th, table td {
    padding: 10px;
    text-align: center;

  }

  table th {
    text-transform: uppercase;
    background: var(--bgc2);
    /* letter-spacing: 1px; */
  }


@media only screen and (max-width: 800px) {

	#flip-scroll .cf:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
	#flip-scroll * html .cf { zoom: 1; }
	#flip-scroll *:first-child+html .cf { zoom: 1; }

	#flip-scroll table { width: 100%; border-collapse: collapse; border-spacing: 0; }

	#flip-scroll th,
	#flip-scroll td { margin: 0; vertical-align: top; }
	#flip-scroll th { text-align: left; }

	#flip-scroll table { display: block; position: relative; width: 100%; }
	#flip-scroll thead { display: block; float: left;}
	#flip-scroll tbody { display: block; width: auto; position: relative; overflow-x: auto; white-space: nowrap; }
	#flip-scroll thead tr { display: block; }
	#flip-scroll th { display: block; text-align: right; }
	#flip-scroll tbody tr { display: inline-block; vertical-align: top; }
	#flip-scroll td { display: block;  text-align: left; }

}

/* Card-style table of races for mobile devices */
@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	#races table, thead, tbody, th, td, tr {
		display: block;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	/* #races thead tr { */
	/* 	position: absolute; */
	/* 	top: -9999px; */
	/* 	left: -9999px; */
	/* } */

	#races tr { border: 1px solid; }
	/* #races tr { border: 1px solid #ccc; } */

	#races td {
		/* Behave  like a "row" */
		border: none;
		/* border-bottom: 1px solid; */
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
	}

	#races td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}

	/*
	Label the data
	*/
	#races td:nth-of-type(1):before { content: "Date"; }
	#races td:nth-of-type(2):before { content: "Event"; }
	#races td:nth-of-type(3):before { content: "Cup"; }
	#races td:nth-of-type(4):before { content: "Country"; }
	#races td:nth-of-type(5):before { content: "Dist. (km)"; }
	#races td:nth-of-type(6):before { content: "D+ (m)"; }
}

/* Sortable tables */
table.sortable thead {
    /* background-color:#eee; */
    /* color:#666666; */
    /* font-weight: bold; */
    cursor: pointer;
}
