    <head>
        <meta charset="UTF-8">
        <title>ROAM</title>
        <base href="https://erikjohannes.codeberg.page/roam/">
        <!-- <base href="file:///Users/erikjohannes/Documents/roam/"> -->
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <meta name="author" content="Erik Johannes Husom">
        <meta name="description" content="Fjelløping i Norge.">
        
        <link rel="icon" href="data:,">
        <link href="css/style.css" rel="stylesheet" type="text/css" title="Stylesheet">
        <!-- <link href="css/experimental.css" rel="alternate stylesheet" type="text/css" title="Experimental"> -->
    </head>
