    <header>
        <img id=headerlogo src="static/roam.png">
        <nav class=header-nav>
            <a href="index.html">Hjem</a>
            <a href="races.html">Konkurranser</a>
            <a href="shoes.html">Løpesko</a>
            <!-- <a href="archive.html">Arkiv</a> -->
            <a href="about.html">Om nettsiden</a>
        </nav>
        <h1 class=p-name rel="me"><a href="https://erikjohannes.codeberg.page/roam/" class=ghost>ROAM</a></h1>
    </header>
