<article>
<h2>Om nettsiden</h2>

<p>Denne nettsiden er en uavhengig informasjonskanal for fjelløping, stiløping og skyrunning fra et norsk perspektiv.</p>

<ul>
    <li>Epost: <a href="mailto:roam_running@protonmail.com">roam_running@protonmail.com</a></li>
    <li>Instagram: <a href="https://instagram.com/roam_running">roam_running</a>
    <li>Mastodon: <a href="https://mastodon.social/@roam_running">roam_running@mastodon.social</a>
</ul>


</article>
