<article>

<h2>Konkurranser</h2>

<p>Her er en oversikt over noen av de heftigste fjelløpene Norge har å by på (i tillegg til noen i utlandet).</p>
<p>Noen løp arrangerer flere ulike distanser, og disse er indikert i klammeparanteser [].</p>
<p>Tabellen kan sorteres ved å klikke på de ulike kolonnetitlene.</p>

<h3>2022</h3>

<div id="races">
<table class="dataframe sortable">
  <thead>
    <tr >
      <th>Date</th>
      <th>Event</th>
      <th>Cup</th>
      <th>Country</th>
      <th>Dist. (km)</th>
      <th>D+ (m)</th>
      <th>Ratio D+/dist.</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2021-06-17</td>
      <td><a href="https://www.trailnordic.com/">Nøsen Hundreds</a></td>
      <td><a href="https://www.rondane100.no/general-8">The Salomon 100km Cup</a></td>
      <td>Norway</td>
      <td>100 [50]</td>
      <td>? [?]</td>
      <td>? [?]</td>
    </tr>
    <tr>
      <td>2021-08-12</td>
      <td><a href="https://www.rondane100.no/">Rondane100</a></td>
      <td><a href="https://www.rondane100.no/general-8">The Salomon 100km Cup</a></td>
      <td>Norway</td>
      <td>160 [100]</td>
      <td>5460 [5000]</td>
      <td>3.41%  [5.00%]</td>
    </tr>
    <tr>
      <td>2021-08-06</td>
      <td><a href="https://tromsoskyrace.com/skyrace/">Tromsø Hamperokken Skyrace</a></td>
      <td><a href="https://www.skyrunnerworldseries.com/">Skyrunner World Series</a></td>
      <td>Norway</td>
      <td>57</td>
      <td>4800</td>
      <td>8.43%</td>
    </tr>
    <tr>
      <td>2021-08-19</td>
      <td><a href="http://matterhorn.ultraks.ch/en/pages/parcours/trail/-extreme-race-1081">Matterhorn Ultraks EXTREME</a></td>
      <td><a href="https://www.skyrunnerworldseries.com/">Skyrunner World Series</a></td>
      <td>Switzerland</td>
      <td>25</td>
      <td>2876</td>
      <td>11.50%</td>
    </tr>
  </tbody>
</table>
</div>

<script src="js/sorttable.js"></script>
</article>
