<article>
<h2>Terrengløpesko</h2>

<p>Her er en oversikt over toppmodeller fra ulike produsenter av terrengløpesko. Hensikten er å gi et raskt overblikk over essensiell informasjon ved de ulike modellene, og å enkelt kunne sammenligne dem.</p>
<p>Tabellen kan sorteres ved å klikke på de ulike kolonnetitlene.</p>

<div id="flip-scroll">
<table class="dataframe sortable">
  <thead>
    <tr >
      <th>Year</th>
      <th>Brand</th>
      <th>Model</th>
      <th>Weight (gr)</th>
      <th>Heel (mm)</th>
      <th>Front (mm)</th>
      <th>Drop (mm)</th>
      <th>Lugs (mm)</th>
      <th>Outsole</th>
      <th>Source</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2021</td>
      <td>Hoka</td>
      <td>Zinal</td>
      <td>242</td>
      <td>22.0<sup><a href="shoes.html#fn1" id="ref1">1</a></sup></td>
      <td>18.0<sup><a href="shoes.html#fn1" id="ref1">1</a></sup></td>
      <td>4.0<sup><a href="shoes.html#fn1" id="ref1">1</a></sup></td>
      <td>4.0</td>
      <td>Vibram Megagrip</td>
      <td><a href="https://www.hoka.com/en/no/men-trail/zinal/1119399.html" target="_blank">Hoka</a>, <a href="https://runrepeat.com/hoka-one-one-zinal">RunRepeat</a></td>
    </tr>
    <tr>
      <td>2021</td>
      <td>Salomon</td>
      <td>S/LAB Pulsar</td>
      <td>170</td>
      <td>24.5</td>
      <td>18.5</td>
      <td>6.0</td>
      <td>2.5</td>
      <td>Rubber (unknown)</td>
      <td><a href="https://www.salomon.com/en-no/shop-emea/product/s-lab-pulsar.html" target="_blank">Salomon</a></td>
    </tr>
    <tr>
      <td>2020</td>
      <td>Salomon</td>
      <td>S/LAB Ultra 3</td>
      <td>289</td>
      <td>26.8</td>
      <td>18.2</td>
      <td>8.6</td>
      <td>4.0</td>
      <td>Rubber (unknown)</td>
      <td><a href="https://www.salomon.com/en-no/shop-emea/product/s-lab-ultra-3.html" target="_blank">Salomon</a></td>
    </tr>
    <tr>
      <td>2020</td>
      <td>Salomon</td>
      <td>S/LAB Sense 8</td>
      <td>195</td>
      <td>23.0</td>
      <td>19.0</td>
      <td>4.0</td>
      <td>3.0</td>
      <td>Rubber (unknown)</td>
      <td><a href="https://www.salomon.com/en-no/shop-emea/product/s-lab-sense-8.html" target="_blank">Salomon</a></td>
    </tr>
    <tr>
      <td>2020</td>
      <td>Salomon</td>
      <td>S/LAB Sense 8 SG</td>
      <td>205</td>
      <td>22.0</td>
      <td>18.0</td>
      <td>4.0</td>
      <td>5.0</td>
      <td>Rubber (unknown)</td>
      <td><a href="https://www.salomon.com/en-no/shop-emea/product/s-lab-sense-8-sg.html" target="_blank">Salomon</a></td>
    </tr>
  </tbody>
</table>
</div>

<sup id="fn1">1. Usikker informasjon angående drop og sålehøyde.<a href="shoes.html#ref1" title="Jump back to footnote 1 in the text.">↩</a></sup>


<script src="js/sorttable.js"></script>
</article>
